<%- include('partials/header.ejs') %>
  <title>Product Cart</title>
  <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <%customerData=customerDashBoard.customer%>
      <%cartData=customerDashBoard.cart%>
        <%let counter=0;%>
        <%for(var i=0;i<cartData.length;i++) {%>
          <% if(cartData[i].type==customerData.type&&cartData[i].userId==customerData._id) { %>
            <%counter++;%>
            <% } %>
            <% } %>
          <header class="header">
            <ul>
              <a id="om" href="/customer"></a>>Customer StoreFront</a>
              <form action="/logout" method="GET">
                <button Class="storeF" type="submit">Logout</button>
              </form>
              <p class="c1">Cart(</p>
              <P id=cartCounter>
                <%=counter%>
              </P>
              <P class="c2">)</P>
            </ul>
          </header>

          <h1 id="mainhead">Shopping Cart</h1>

          <div class="cart-items">
            <%for(var i=0;i<cartData.length;i++) {%>
              <% if(cartData[i].type==customerData.type&&cartData[i].userId==customerData._id) { %>
                <div id="divCartItem">
                  <img id="image" src="<%=cartData[i].cartUrl%>" width="100" height="100" />
                  <span id="cartName">
                    <%= cartData[i].cartItemName %>
                  </span>

                  <span id="cartPrice">Taka:<%= cartData[i].cartPrice %></span>
                  <button class="minus">-</button>
                  <input type="text " class="cartQuantity" value="0" readonly="readonly" />
                  <button class="plus">+</button>
                  <button class="cartRemove" type="button">REMOVE</button>
                  <p class="takaLabel">Taka: </p>
                  <p class="labelPrice">0</p>
                </div>
                <%counter++;%>
                  <% } %>

                    <% } %>

                      <%if(counter==0) {%>
                        <p id="cartStatus">Empty cart </p>
                        <% } %>


          </div>

          <div id="allMoney">
            <p id="totalTaka">Total Taka: </p>
            <p class="totalPrice">0</p>
          </div>
          <button class="buttonPurchase" type="button">PURCHASE</button>
          <%var cartProductInEJS=JSON.stringify(cartData)%>



            <script src="js/jquery-3.5.1.min.js"></script>
            <script>
              cartProduct = [];
              try {
                cartProduct = JSON.parse(`<%-JSON.stringify(cartProductInEJS)%>`);
              }
              catch (err) {
                alert('Error in parsing')
              }





              //---------------------------------------------------------------------------------------------------------------

              $('.cartRemove').click(function (event) {
                let a = 0;
                let buttonClicked = $(this).parent().children();
                let removeItemName = buttonClicked[1].innerText;
                console.log(removeItemName)
                $(this).parent().remove();
                cartPricing();

              });

              function cartPricing() {
                let totalValue = 0;
                let cartDiv = $('.cart-items').children().children();
                for (let i = 0; i < cartDiv.length; i++) {
                  if (cartDiv[i].getAttribute("class") == 'labelPrice') {
                    totalValue += parseInt(cartDiv[i].innerText);
                  }
                }
                $('.totalPrice').text(totalValue);
              }
              //--------------------------------------------------------------------------------------------------------------
              $('.plus').click(function (event) {
                var quantityCounter = 0, currentValue = 0, sumValue = 0;
                quantityCounter += 1;
                let buttonClickedPlus = $(this).parent().children();
                var name = buttonClickedPlus[1].innerText;
                currentValue = parseInt($(buttonClickedPlus[4]).val());
                if (currentValue >= 99) {
                  alert('Amount exceeded in stock')
                  return;
                }
                $(buttonClickedPlus[4]).val(currentValue + quantityCounter);
                var itemPrice = parseInt(buttonClickedPlus[2].innerText.substring(5));
                sumValue = itemPrice * (currentValue + quantityCounter);
                buttonClickedPlus[8].innerText = sumValue;
                cartPricing();
              })
              //----------------------------------------------------------------------------------------------------------------
              $('.minus').click(function (event) {
                var quantityCounter = 0, currentValue = 0, sumValue = 0;
                quantityCounter += 1;
                let buttonClickedMinus = $(this).parent().children();
                currentValue = parseInt($(buttonClickedMinus[4]).val());
                if (currentValue <= 0) {
                  return;
                }
                $(buttonClickedMinus[4]).val(currentValue - quantityCounter);
                var itemPrice = parseInt(buttonClickedMinus[2].innerText.substring(5));
                sumValue = itemPrice * (currentValue - quantityCounter);
                buttonClickedMinus[8].innerText = sumValue;
                cartPricing();
              })
              //------------------------------------------------------------------------------------------------------------------
              $('.buttonPurchase').click(function () {
                let aCounter = 0, bCounter = 0, cCounter = 0;
                let arrayA = [];
                let arrayB = [];
                let cartDiv = $('.cart-items').children();
                if (cartDiv.length == 0) {
                  alert('Cart is empty');
                  return;
                }
                else {
                  let currentQuantity = $('.cartQuantity').parent().children();
                  for (let i = 0; i < currentQuantity.length; i++) {
                    if (currentQuantity[i].getAttribute("id") == 'cartName') {
                      arrayA[aCounter] = currentQuantity[i].innerText;//all names present in the cart
                      aCounter++;
                    }
                  }
                  for (let i = 0; i < currentQuantity.length; i++) {
                    if (currentQuantity[i].getAttribute("class") == 'cartQuantity') {
                      arrayB[bCounter] = currentQuantity[i].value;//all quantity chosen in the cart
                      bCounter++;
                    }
                  }
                  for (let i = 0; i < arrayB.length; i++) {
                    if (arrayB[i] == 0) {
                      alert('Please choose a quantity to purchase');
                      return;
                    }
                  }


                  for (let i = 0; i < martProduct.length; i++) {
                    if (martProduct[i].name == arrayA[cCounter]) {
                      if (martProduct[i].quantity < arrayB[cCounter]) {
                        alert('Quantity chosen to be purchased exceeded for the item ');
                        return;
                      }
                      else if (martProduct[i].quantity == arrayB[cCounter]) {
                        cartProduct.splice(i, arrayB.length);
                        callAjaxDelete(martProduct[i]._id);

                        cCounter++;
                      }
                      else {
                        let updateQuantity = martProduct[i].quantity - arrayB[cCounter];
                        callAjaxUpdate(martProduct[i]._id, updateQuantity);

                        cCounter++;
                      }

                    }
                  }

                  $('.cart-items').children().remove();
                  alert('Thank you for your purchase. Items purchased :' + arrayA + ' with quantities ' + arrayB + ' respectively');
                  cartPricing();
                  $('#cartCounter').text(cartProduct.length);
                  $('#cartStatus').show();
                }

              });


              function callAjaxDelete(deleteId) {
                $.ajax({
                  type: 'DELETE',
                  url: '/cart/' + deleteId,
                  success: response => {
                    console.log(response);
                  },
                  error: response => {
                    console.log(response);
                  }

                });
              }
              function callAjaxUpdate(userId, userQuantity) {
                let updateArray = { id: userId, quantity: userQuantity }
                $.ajax({
                  type: 'POST',
                  url: '/cart',
                  data: updateArray,
                  success: response => {
                    console.log(response);
                  },
                  error: response => {
                    console.log(response);
                  }

                });
              }




            </script>
            <%- include('partials/footer.ejs') %>