<%- include('partials/header.ejs') %>
  <title>Product Detail</title>
  <link rel="stylesheet" href="/css/productDetail.css" />
</head>

<body>

  <div id="productView">
    
    <span id="cartName"><%=individualProduct.name%></span>
    <img id="image" src="<%=individualProduct.url%>" />
    <span id="cartDescription"><%=individualProduct.description%></span>
    <p id="cartPrice">Tk:<%=individualProduct.price%></p>
    <button class="backButton" onclick="window.location.href='/customer';">Back</button>
    <button class="addCartDetail" type="button">Cart</button>
    
  </div>

  <script src="/js/jquery-3.5.1.min.js"></script>
  <script>

    var singleProduct = JSON.parse(`<%-JSON.stringify(individualProduct)%>`);

    $('.addCartDetail').click(function (event) {
  /*    
      $.ajax({
        type: 'POST',
        url: '/customerProductDetail',
        data: singleProduct,
        success: response => {
          console.log(response);
          alert('Product '+singleProduct.name+' is added to the market')
        },
        error: response => {
          console.log(response);
        }

      });
      
    */  

    });



  </script>

<%- include('partials/footer.ejs') %>  