<%- include('partials/header.ejs') %>
    <title>Online Marketplace</title>
    <link rel="stylesheet" href="/css/StoreFront.css" />
    </head>
    <%customerData=customerDashBoard.customer%>

        <body>
            <header class="header">
                <ul>
                    <li id="om">Welcome <%=customerData.name%>
                    </li>
                    <li id="c4"><a class="c1" href="/cart">Cart</a>(</li>
                    <P id=cartCounter>0</P>
                    <P id="c2">)</P>
                    <form action="/logout" method="GET">
                        <button id="c5" type="submit">Logout</button>
                    </form>

                </ul>
            </header>

            <!---------------------------------------------------------------------------------------------------------------------------------->
            <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

            <div class="wrapper">
                <div class="sidebar">
                    <h1 style="color:white;">Clothing Store</h1>
                    <ul>
                        <li><a href="#"><i class="fas fa-search"></i>All</a></li>
                        <li><a href="#"><i class="fas fa-tshirt"></i>Shirts</a></li>
                        <li><a href="#"><i class="fas fa-shoe-prints"></i>Shoes</a></li>
                        <li><a href="#"><i class="fas fa-hat-cowboy"></i>Hats</a></li>
                    </ul>




                    <!------------------------------------------------------------------------------------------------------------------------------------>


                    <%products=customerDashBoard.mart%>


                        <div id="mainDiv">
                            <% if(products.length>0) { %>
                                <% products.forEach(product=> { %>
                                    <div id="divStoreItem">
                                        <a class="storeName" name="name" href='/customerProductDetail/<%=product._id%>'>
                                            <%= product.name %>
                                        </a>
                                        <img id="storeImage" name="image" src="<%=product.url%>" />
                                        <span id="storeCartPrice " name="price">Taka:<%= product.price %></span>
                                        <button class="buttonCart" type="submit">Cart</button>
                                    </div>
                                    <% }) %>
                                        <% } else { %>
                                            <p id="storeFrontStatus">No product available.</p>
                                            <% } %>
                        </div>
                        <%let martProductInEJS=JSON.stringify(products)%>
                            <%let customerInEJS=JSON.stringify(customerData)%>

                                <script src="/js/jquery-3.5.1.min.js"></script>
                                <script>
                                    martProduct = [];
                                    customer = [];
                                    try {
                                        martProduct = JSON.parse(`<%-martProductInEJS%>`);
                                        customer = JSON.parse(`<%-customerInEJS%>`);
                                    }
                                    catch (err) {
                                        alert('Error in parsing')
                                    }



                                    //$('#cartCounter').text(cartProduct.length);
                                    //------------------------------------------------------------------------------------------------------------------------------               
                                    $('.buttonCart').click(function (event) {
                                        let x = 0;
                                        let currentProduct = $(this).parent().children();
                                        let productName = currentProduct[0].innerText;
                                        for (let i = 0; i < martProduct.length; i++) {
                                            if (martProduct[i].name == productName) {
                                                x = i;
                                            }
                                        }
                                        let cartProduct = {
                                            type: customer.type,
                                            userId: customer._id,
                                            cartItemName: martProduct[x].name,
                                            cartDescription: martProduct[x].description,
                                            cartUrl: martProduct[x].url,
                                            cartQuantity: martProduct[x].quantity,
                                            cartCategory: martProduct[x].category,
                                            cartPrice: martProduct[x].price
                                        };
                                      
                                        $.ajax({
                                            type: 'POST',
                                            url: '/customer',
                                            data: cartProduct,
                                            success: response => {
                                                console.log(response);
                                                alert('Product ' + cartProduct.cartItemName + ' is added to cart')
                                            },
                                            error: response => {
                                                console.log(response);
                                            }

                                        });

                                    });

 //-----------------------------------------------------------------------------------------------------------------------------



                                </script>

                                <%- include('partials/footer.ejs') %>